
.infoHolder{
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    div:last-child{
        margin-left: 20px;
    }
}

@media only screen and (max-device-width: 480px) {
    .infoHolder{
        div{
            flex-grow: 1;
        }
        div:last-child{
            margin: 0;
        }
    }
}