@mixin bottomBtn {
    padding: 1rem 1.8rem;
    width: 250px;
    margin: 0 auto;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 8px;
    border: 1px solid;
    text-align: center;
}

.mainContainer{
    width: 100%;
    padding: 6rem 0rem 2rem;
}

.container{
    width: 98%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 23% auto;
    gap: 10px;
}

.left{
    border-radius: 6px;
}

// .rightHolder{
//      margin: 0 auto;
// }

.right{
    display: grid;
    grid-template-columns: repeat(4, 24.5%);
    gap: 10px;

    .loaderHolder{
        display:flex; 
        gap:20px
    }
}

.city{
        text-align: center;
        font-size: 30px;

        border-radius: 6px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: all 0.5s ease-in-out;

        &:hover{
            background-size: 120%;
        }

        .cityLink{
            width: 100%;
            height: 100%;
            display: block;
            background-color: rgba(0, 0, 0, 0.55); 
            border-radius: 6px;
            color: white;
            transition: all 0.5s ease-in-out;

            & > div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100%;
                padding: 10px 0;

                h2{
                    line-height: 1;
                    font-size: 25px;
                    color: lightsalmon;
                    font-weight: lighter;
                }
                p{
                    font-size: 18px;
                    font-family: "Eczar", serif;
                }
            }

            &:hover  {
                background-color: rgba(0, 0, 0, 0.8);
            }
        }

}

.rightButton {
    text-align: center;
    margin: 20px 0;
    .noMore{
        background-color: #ffefef;
        color: #000000;
        @include bottomBtn()
    } 
    button {
        background-color: #f9fff9;
        color: #006800;
        cursor: pointer;
        @include bottomBtn()
    }
}


@media only screen and (min-device-width: 1450px) {
    .right{
        grid-auto-rows: 150px;
    }
}

@media only screen and (max-device-width: 1450px) {
    .right{
        grid-template-columns: repeat(3 , 33%);
        grid-auto-rows:  130px;
        gap: 8px;

        .fLoader {
            display: none;
        }
    }
}

@media only screen and (max-device-width: 480px) {
    .right{
        grid-template-columns: repeat(2 , 49%);
        grid-auto-rows: 90px;
        gap: 7px;

        .loaderHolder{
            margin: 0 20%;
        }

        .fLoader, .mLoader , .mlLoader{
            display: none;
        }
    }

    .container{
        grid-template-columns: auto;
    }

    .cityLink{
        &>div {
            h2{ font-size: 22px !important }
            p{ font-size: 14px !important }
        }
     }

     .rightButton button {
        padding: 0.8rem 1.8rem;
        width: 120px;
        font-size: 14px;
     }
}